.header1{
    position: fixed;
    top: 0;
    display: flex;
    background-color: white;
    width: 100%;
    right: 0;
    box-shadow: 2px 2px 5px 5px black;

}
.navigation{
    padding: 10px;
    position: absolute;
    right: 150px;
    display: flex;
    font-size: 10px;
}
.navigation a{
    margin-left: 20px;
    color: black;
    text-decoration: none;
}
.navigation a:hover{
    text-decoration: line-through;
    color: gray;
    transition: 2s;
}

.header1 img{
    margin: auto;
    height: 50px;
    width: 200px;
}
.p1{
    font-size: 20px;
}
.container{
    justify-content: center;
    text-align: center;
    margin: auto;
    margin-top: 210px;
    display: flex;
    margin-left: 8%;

}


#nike2{
    width: 500px;
    height: 400px;
    margin-bottom: 200px;

}
#stussy2{
    width: 600px;
    height: 350px;
    border: solid black 1px;
}
#nike1{
    width: 300px;
    height: 320px;
    margin-bottom: 200px;
}
#stussy{
    width: 400px;
    height: 150px;

}

.footer{
    text-align: left;
    font-size: 13px;
    position: relative;
    margin-top: 50px;
    margin-bottom: -10px;
    margin-left: -10px;
    margin-right: -7px;
    color: white;
    background-color: black;
    padding: 5px;
}
.footer h1{
    margin-left: 60px;
}

.footer img {
    width: 50px;
    height: 50px;
    float: right;
    margin-top: -49px;
    margin-right: 20px;
}

.overlay{
    background-color: rgb(27, 27, 27, .5);
    position: absolute;
    top: 200px;
    bottom:  50px;
    left:  200px;
    right:  50px;
    height: 50%;
    width: 30%;
    opacity: 0;
    transition: .5s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.container2:hover .overlay{
    opacity: 1;

}
.text a{
    height: 40px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: white;
    text-decoration: none ;

}

.text a:hover{
    text-decoration: underline;
}

.overlay2{
    background-color: rgb(27, 27, 27, .5);
    position: absolute;
    top: 210px;
    bottom:  100px;
    left:  870px;
    right:  100px;
    height: 55%;
    width: 33%;
    opacity: 0;
    transition: .5s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.container3:hover .overlay2{
    opacity: 1;

}
.overlay3{
    background-color: rgb(27, 27, 27, .5);
    position: absolute;
    top: 734px;
    bottom:  100px;
    left:  128px;
    right:  100px;
    height: 48%;
    width: 39%;
    opacity: 0;
    transition: .5s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.container4:hover .overlay3{
    opacity: 1;

}
.overlay4{
    background-color: rgb(27, 27, 27, .5);
    position: absolute;
    top: 734px;
    bottom:  100px;
    left:  888px;
    right:  100px;
    height: 45%;
    width: 30%;
    opacity: 0;
    transition: .5s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.container5:hover .overlay4{
    opacity: 1;

}

