.header1{
    position: fixed;
    top: 0;
    display: flex;
    background-color: white;
    width: 100%;
    right: 0;
    box-shadow: 2px 2px 5px 5px black;
    margin-bottom: 50px;

}
.navigation{
    padding: 10px;
    position: absolute;
    right: 150px;
    display: flex;
    font-size: 10px;
}
.navigation a{
    margin-left: 20px;
    color: black;
    text-decoration: none;
}
.navigation a:hover{
    text-decoration: line-through;
    color: gray;
    transition: 2s;
}

.header1 img{
    margin: auto;
    height: 50px;
    width: 200px;
}
.footer{
    text-align: center;
    font-size: 13px;
    position: absolute;
    bottom: 0;
    color: white;
    background-color: black;
    padding: 5px;
    width: 1527px;
    margin-left: -9px;
    margin-top: 100px;
}
.footer h1{
    margin-left: -1300px;
}

.footer img {
    width: 50px;
    height: 50px;
    float: right;
    margin-top: -49px;
    margin-right: 20px;
}
.map{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: -10px ;
    box-shadow: 2px 2px 5px 5px;
    width: fit-content;
    margin-left: 350px;
}

#h1{
    text-align: center;
}
p{
    padding: 10px;
    margin: 20px;
    font-size: 20px;
    text-align: center;
}